$base-color: #8b5cf6;

:host{
  display: block;
}

.toggles {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container{
  display: block;
  margin: 24px auto;
  box-shadow: 0 0 30px 10px rgba(10, 3, 56, 0.05);
  padding: 24px;
  border-radius: 10px;
  width: clamp(16rem, 50%, 450px);
}

.container__header{
  place-self: self-start;
  font-weight: 600;
}

.container__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;

  label{
    letter-spacing: 1px;
  }

  input{
    box-sizing: border-box;
    border: solid #a5b3c6 1px;
    border-radius: 6px;
    height: 3rem;
    font-size: 20px;
    padding-left: 12px;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(18,18,23,0.05);
  }
}

.form__button {
  width: 100%;
  border: 1px solid $base-color;
  background-color: $base-color;
  border-radius: 6px;
  height: 2.5rem;
  cursor: pointer;
  span{
    color: #fff;
    font-weight: 600;

  }
}

.container__register {
  display: block;
  margin-top: 12px;
}

