<section class="container">
  <h1 class="container__header">Zaloguj</h1>
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)"  class="container__form">
    <section class="form__field">
      <label for="username">Nazwa użytkownika</label>
      <input id="username" name="userName" ngModel  required type="text">
    </section>
    <section class="form__field">
      <label for="password"  >Hasło</label>
      <input  id="password" name="password" ngModel required size="large"  type="password" />
    </section>
    <button type="submit" class="form__button" [disabled]="isLogin()">
      <span>{{isLogin() ? 'Logowanie' : 'Zaloguj'}}</span>
    </button>
  </form>
</section>
